.friends {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 40px;
  }
  .friend__list {
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
    gap: 30px;
    width: 200px;
  
    background-color: #fff;
  }
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .status {
    width: 20px;
    height: 20px;
  
    border-radius: 50%;
  }
  .avatar {
  }
  .name {
  }